{% extends "decc_form/decc_base.html" %}
{% block title %} DECC - Upload PDFs{% endblock %}
{% block content %}
<form enctype="multipart/form-data" action="" method="POST">
  {% csrf_token %}
  <p><button type="button" value="edit"><a href={{ link }}>&laquo Edit your order details</a></button></p>
  <p> Order details:</br>
    State: {{ part.state }}</br>
    Form Type: {{ part.form_type }}</br>
    Item Count: {{ part.item_count }}</br>
    Rush? {{ part.rush }}</br>
    VAN? {{ part.van }}</br>
    Quad? {{ part.quad }}</br>
    Match? {{ part.match }}</br>
  </p>

  {{ formset.management_form }}
  {% for form in formset %}
  {{ form.part }}
  <p>{{ form.item_count.label }}: {{ form.item_count }} {{ form.item_count.errors }}</p>
  
  <p>{{form.committee.label }}{{ form.committee }} {{ form.committee.errors }}</p>
  <p>{{ form.client_filename.label_tag }}</p>
  <p>
    {{ form.client_filename.errors }}
    {{ form.client_filename }}
  </p>
  {% endfor %}
  <p>Once you push this button you can never ever ever go back. Think about your choices. All of them. If you're cool with it, click away!</p>
  <p><button type="submit" value="Upload">Upload files</button></p>
</form>
{% endblock %}

