<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock%}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/decc.css">
  </head>
  <body>
    <div class="sidebar">
      <img src="/static/images/decc-logo-right_1000x545.png">
    </div>
    <div class="message">
    {% if messages %}
    <ul class="messgaes">
      {% for message in messages %}
      <li id="message_{{forloop.counter {}"
	  {% if message.tags %} class="{{ message.tag }}"
	  {% endif %}>
	{{message}}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    </div>
    <div class="content">
      <div class="form">
	{% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
