{% extends "decc_base.html" %}
{% block title %} DECC - Upload PDFs{% endblock %}
{% block content %}
<form enctype="multipart/form-data" action="" method="POST">
  {% csrf_token %}
  {{ form.part }}
  <p>{{ form.item_count.label }}: {{ form.item_count }} {{ form.item_count.errors }}</p>
  <p>{{ form.client_filename.label_tag }}</p>
  <p>
    {{ form.client_filename.errors }}
    {{ form.client_filename }}
  </p>
  <p><button type="submit" value="Upload">Upload files</button></p>
</form>
{% endblock %}

