html {
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
a:link {
    color: #000;
}
a:visited {
    color: #000;
}
a:hover {
    color: #049f9f;
}
div.logo img {
    display: block;
    margin: auto;
}
div.logo p {
    text-align: center;
    font-size: 140%;
    margin-top: -40px;
    color: #000;
    padding-bottom: 300px;
}
div.home-footer p {
    text-align: center;
    font-size: 70%;
    padding-bottom: 20px;
    color: #049f9f;
}
div.sidebar {
    margin: -8px, 0px, -8px, -8px;
    float: left;
    clear: left;
    width: 40%;
}
div.sidebar img {
    float: left; 
    overflow: hidden;
}
div.content {
    float: right;
    width: 60%;
    text-align: center;
}
div.deccform {

}
div.page-footer {
    text-align: center;
    padding-top: 1000px;
}
div.page-footer p {
    text-align: center;
    font-size: 70%;
    padding-bottom: 20px;
    color: #049f9f;
}

